 <!-- Testimonial  -->
 <div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>What I ordered is exactly what I got. Thank You Prodigious Store</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="images/project_img4.jpg" alt="">
                <h3>Funke Akindele</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>What I ordered is exactly what I got. Thank You Prodigious Store</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="images/project_img3.jpg" alt="">
                <h3>Hellen Paul</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>What I ordered is exactly what I got. Thank You Prodigious Store</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="images/project_img6.jpg" alt="">
                <h3>Toyin Abraham</h3>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial done -->